<div class="image-container">
  <div class="row justify-content-center banner">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <div class="img-container">
        <%= image_tag 'Alan-light-logo.svg', alt: "alan logo", class: "logo overlay-img" %>
        <%= image_tag 'Alan-light-logo.svg', alt: "alan logo", class: "logo-blur overlay-img" %>
      </div>
      <br>
      <h1 class="title-main">Alan Sanchez Tecuapetla</h1>
      <p class="p-bold-text"><span class="line-separator"> | </span>Fullstack Web Developer <span class="line-separator"> | </span></p>
    </div>
  </div>
</div>
