<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'Alan-dark-logo.svg', alt: "alan logo", class: "logo" %>
    <h1 class="title-main">Hello me</h1>
  </div>
</div>
