<%# <div class="content-container">
  <div class="body-container">
        <h2>Projects</h2>
        <div class="project-container">
          <div class="project-image omagine-img">
            <div id="carousel-four" class="carousel slide carousel-container" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active item carousel-image">
                  <img src="assets/images/omagine-1.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="project-information omagine-info">
            <h5>Omagine</h5>
            <h6>Jr. Front End Developer</h6>
            <p>Omagine is a web app for athletic trainers to manage their business. Omagine integrates payments,
              scheduling, and enables users to host links in order to help grow their businesses and better connect with
              their
              clientele. My role has been to redesign and rebuild the landing page and improve the core
              functionality of the service.</p>
            <div class="technology-container">
              <img class="technology-icons" src="assets/images/HTML5-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/CSS3-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Ruby-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Github-icon.svg" alt="">
              <img class="technology-icons" src="assets/images/Figma-logo.svg" alt="">
            </div>
            <a class="view-live-btn" href="https://omagine.co/" target="_blank" rel="nofollow noopener">
              <span>View Site</span>
            </a>

          </div>
          <div class="divider d0"></div>
          <!-- southside parlor project images -->
          <div class="project-image ssp-img">
            <div id="carousel-four" class="carousel slide carousel-container" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active item carousel-image">
                  <img src="assets/images/laura-abowd-sp.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <!-- southside parlor project info start -->
          <div class="project-information ssp-info">
            <h5>Southside Parlor</h5>
            <h6>UX Designer + Developer</h6>
            <p>Southside Parlor is bar and restaurant located in Seoul, South Korea. The client wanted a way to
              highlight information about their restaurant and provide a way for their customers to order online.</p>
            <div class="technology-container">
              <img class="technology-icons" src="assets/images/HTML5-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/CSS3-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Github-icon.svg" alt="">
              <img class="technology-icons" src="assets/images/Figma-logo.svg" alt="">
            </div>
            <a class="view-live-btn" href="https://laura-abowd.github.io/southside-parlor/" target="_blank" rel="nofollow noopener">
              <span>View Site</span>
              <!-- <svg class="view-arrow" width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg> -->
            </a>
            <a class="view-code-btn" href="https://github.com/laura-abowd/southside-parlor" target="_blank" rel="nofollow noopener">
              <span>View Code</span>
            </a>
          </div>
          <div class="divider d1"></div>
          <!-- Active Social project images start -->
          <div class="project-image as-img">
            <div id="carousel-four" class="carousel slide carousel-container" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active item carousel-image">
                  <img src="assets/images/laura-abowd-activesocial-1.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <!-- Active Social project info start -->
          <div class="project-information as-info">
            <h5>Active Social</h5>
            <h6>UX Designer + Developer</h6>
            <p>Active Social is an Austin based video production company. I worked directly with the company in order to
              help establish their web presence. I built Active Social from scratch to feature a way to display their
              video content and allow users to easily connect with them.</p>
            <div class="technology-container">
              <img class="technology-icons" src="assets/images/HTML5-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/CSS3-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Github-icon.svg" alt="">
              <img class="technology-icons" src="assets/images/Figma-logo.svg" alt="">
            </div>
            <!-- <div class="btn__flex-container"> -->
            <a class="view-live-btn" href="https://www.activesocial.media/" target="_blank" rel="nofollow noopener">
              <span>View Site</span>
              <!--               <svg class="view-arrow" width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg> -->
            </a>
            <a class="view-code-btn" href="https://github.com/laura-abowd/active_social" target="_blank" rel="nofollow noopener">
              <span>View Code</span>
            </a>
          </div>
          <div class="divider d2"></div>
          <!-- Classy project images start -->
          <div class="project-image cl-img">
            <div id="carouselExampleControls" class="carousel slide carousel-container" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active item carousel-image">
                  <img src="assets/images/laura-abowd-classy-1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-classy-2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-classy-3.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8"></circle>
                    <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8"></path>
                  </svg>
                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8"></circle>
                    <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8"></path>
                  </svg></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- Classy project info start -->
          <div class="project-information cl-info">
            <h5>Classy</h5>
            <h6>UX Design + Product Lead + Front End Developer</h6>
            <p>Classy is an app dedicated to helping educators create and manage their class lists. Classy allows
              educators to sort students into their next year's classes based on individual student needs. For this
              class project, my team and I
              completed the MVP in two weeks. </p>
            <div class="technology-container">
              <img class="technology-icons" src="assets/images/HTML5-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/CSS3-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Ruby-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Github-icon.svg" alt="">
              <img class="technology-icons" src="assets/images/Figma-logo.svg" alt="">
            </div>
            <a class="view-live-btn" href="http://www.classyeducation.io/" target="_blank">
              <span>View Site</span>
              <!--               <svg class="view-arrow" width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg> -->
            </a>
            <a class="view-code-btn" href="https://github.com/laura-abowd/active_social" target="_blank" rel="nofollow noopener">
              <span>View Code</span>
            </a>
          </div>
          <div class="divider d3"></div>
          <div class="project-image jc-img">
            <div id="carousel-two" class="carousel slide carousel-container" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active item carousel-image">
                  <img src="assets/images/laura-abowd-japancycle-1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-japancycle-2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-japancycle-3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-japancycle-4.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-two" role="button" data-slide="prev">
                <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8"></circle>
                    <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8"></path>
                  </svg></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-two" role="button" data-slide="next">
                <span aria-hidden="true"><svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8"></circle>
                    <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8"></path>
                  </svg></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- Japan Cycle info start -->
          <div class="project-information jc-info">
            <h5>Japan Cycle</h5>
            <h6>UX Design + Full Stack Developer</h6>
            <p>Japan Cycle is a web application for users to search, sell, and purchase bicycles around Japan. For this
              class
              project, my team and I focused on building a marketplace application to serve users in the Tokyo area. We
              completed the MVP in one week.</p>
            <div class="technology-container">
              <img class="technology-icons" src="assets/images/HTML5-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/CSS3-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Ruby-logo.svg" alt="">
              <img class="technology-icons" src="assets/images/Github-icon.svg" alt="">
              <img class="technology-icons" src="assets/images/Figma-logo.svg" alt="">
            </div>
            <a class="view-live-btn" href="https://japan-cycle-demo.herokuapp.com/" target="_blank" rel="nofollow noopener">
              <span>View Site</span>
              <!--               <svg class="view-arrow" width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg> -->
            </a>
            <a class="view-code-btn" href="https://github.com/laura-abowd/active_social" target="_blank" rel="nofollow noopener">
              <span>View Code</span>
            </a>
          </div>
          <div class="divider d4"></div>
          <div class="project-image cb-img">
            <div id="carousel-three" class="carousel slide carousel-container" data-interval="false">
              <div class="carousel-inner carebook-carousel">
                <div class="carousel-item active item carousel-image">
                  <img src="assets/images/laura-abowd-carebook-1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-carebook-2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item item carousel-image">
                  <img src="assets/images/laura-abowd-carebook-3.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-three" role="button" data-slide="prev">
                <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8"></circle>
                    <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8"></path>
                  </svg></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-three" role="button" data-slide="next">
                <span aria-hidden="true"><svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8"></circle>
                    <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8"></path>
                  </svg></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="project-information cb-info">
            <h5>Carebook</h5>
            <p>A mobile app dedicated to helping users set reminders for medical appoinments. During this school
              project, we focused on the user flow and architecture of our mobile app. </p>
          </div>
        </div>
  </div>
</div> %>
<%# <div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Projects</h2>
        <div class="cards">
          <% data.projects.each do |project| %>
            <%# <div class="card-product">
              <%= image_tag project.image, alt: "project image" %>
              <%# <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2><%= project.name </h2> %>
                  <%# <% link_to project.url, class: 'external-link', target: '_blank' do %>
                    <%# <i class="fas fa-external-link-alt"></i> %>
                  <%# <% end %>
                <%# </div> %>
                <%# <p><%= project.description </p> %>
              <%# </div> %>
            <%# </div> %>
          <%# <% end %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div>  %>
<%# </div> %>
