<footer>
  <div class="row my-5">
    <div class="col-12">
      <h2><%= t('footer.title') %></h2>
      <div id="contact">
        <div class="d-flex justify-content-center flex-wrap">
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-envelope" style="font-size: 30px; color: #eaeaea"></i>
            <%= mail_to "alan.tecuapetla@gmail.com", "", class: 'button-social-link' %>
          </div>
          <span class="line-separator"> || </span>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-github" style="font-size: 30px; color: #eaeaea"></i>
            <%= link_to "", "https://github.com/Alan-Tecua", target: '_blank', class: 'button-social-link' %>
          </div>
          <span class="line-separator"> || </span>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-linkedin" style="font-size: 30px; color: #eaeaea"></i>
            <%= link_to "", "https://www.linkedin.com/in/alan-tecuapetla/", target: '_blank', class: 'button-social-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
