.backToTop {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid rgba(255, 255, 255, 0.211);
  outline: none;
  background-color: rgba(255, 255, 255, 0.125);
  color: rgb(191, 191, 191);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.339);
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 50%;
  font-size: 30px;
  transition: opacity 0.5s, color 0.2s, background-color 0.2s;
}

.backToTop:focus {
  outline: none;
}

.backToTop.active {
  opacity: 1;
}

.backToTop:hover {
  background-color: rgba(255, 255, 255, 0.444);
  color: rgb(246, 246, 246);
}
