<div class="container ">
  <div id="navBar" class="navBar">
    <a href="#">
      <img src="images/homeicon.png" height="40" width="40" alt="home icon"/>
    </a>
    <a target="_blank" href="https://github.com/alan-tecua">
      <i class="fa-brands fa-square-github"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/alan-tecuapetla/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="mailto:alan.tecuapetla@gmail.com">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
